$orange-base-color:#EA5D1B;
$white-base-color: #FFFFFF;
$black-base-color: #000000;
$green-base-color: #9AAE02;

.future-container {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  .center {
    position: fixed;
    top: 50%;
    left: 8.75rem;
    transform: translate(8.75rem, -50%);
  }
  .future-title {
    font-size: 4.25rem;
    font-family: SeatBcn-Black;
    font-weight: bold;
  }
  .future-subtitle {
    font-size: 2.125rem;
    margin-top: 2.5rem;
    font-family: SeatBcn-Regular;
    font-weight: 400;
    line-height: 3.5rem;
  }
  .future-button {
    font-size: 1.375rem;
    color: #FFFFFF;
    padding: 1rem 1.5625rem;
    margin-top: 3rem;
    background-color: $orange-base-color;
    font-family: SeatBcn-Bold;
    font-weight: 700;
    outline: none;
    border: none;
  }
  .future-hover{
    transition: all .25s;
    &:hover{
      color: #EA5D1B;
      background-color: #FFFFFF;
    }
  }
}
