<div class="future-container">
  <div class="center-align">
    <div
      id="future-animation"
      class="animate__animated animate__fast animate__fadeInRight"
    >
      <h1 class="future-title">It has only just started!</h1>
      <h2 class="future-subtitle">
        The future has not yet come.<br />But we are not going to wait for it.
      </h2>
      <button (click)="onClickPrevious()" class="seat-button">Back</button>
      <button
        style="margin-left: 2rem"
        (click)="onClickNext()"
        class="seat-button"
      >
        Accelerate
      </button>
    </div>
  </div>
</div>
