<div class="future-container">
  <div class="center">
    <div
      id="future-animation"
      class="animate__animated animate__fast animate__fadeInRight"
    >
      <h1 class="future-title">Welcome to the future</h1>
      <h2 class="future-subtitle">
        Esto no es todo. Todavía queda lo más sorprendente.
      </h2>
      <button (click)="onClickPrevious()" class="future-button future-hover">
        Back
      </button>
      <button
        style="margin-left: 2rem"
        (click)="onClickNext()"
        class="future-button future-hover"
      >
        Accelerate
      </button>
    </div>
  </div>
</div>
