<div class="future-container">
  <div class="center-align">
    <div
      id="future-animation"
      class="animate__animated animate__fast animate__fadeInRight"
    >
      <h1 class="future-title">It has just started!</h1>
      <h2 class="future-subtitle">
        The future has not been written yet.<br />But we are not going to wait
        for it.
      </h2>
      <button (click)="onClickNext()" class="seat-button">
        Let's accelerate
      </button>
    </div>
  </div>
  <div class="future-animation-step animate__animated animate__fast animate__fadeIn">
    <div class="container-button" (click)="onClickPrevious()">
      <!-- <button (click)="onClickPrevious()" class="seat-button-back"></button> -->
    </div>
    <div class="future-animation-line"></div>
    <span class="future-animation-span">Back</span>
  </div>
</div>
