.logo-container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  #logo-seat, #logo-everis, #logo-cupra{
    display: flex;
    height: 100%;
    width: auto;
    margin: .5rem;
  }
  #logo-left-align{
    display: flex;
    align-self: flex-start;
  }
  z-index: 1;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.hide-logo{
  opacity: 0;
}