<div class="welcome-video-container animate__animated animate__fadeIn">
  <video
    class="welcome-video"
    #videoPlayer
    (ended)="onVideoEnded()"
    preload="auto"
    autoplay
  >
    <source
      src="https://vod-progressive.akamaized.net/exp=1602867162~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F3708%2F18%2F468542040%2F2084615223.mp4~hmac=03d0328d130c0dec4d8cef3c676ec22f7249fa19534c9ec7a7b31344d787beee/vimeo-prod-skyfire-std-us/01/3708/18/468542040/2084615223.mp4?filename=SEAT+HMI+%5Bdraft%5D.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <a class="skip-button animated-arrow" (click)="onClickSkip()">
    <span class="the-arrow -left">
      <span class="shaft"></span>
    </span>
    <span class="main">
      <span class="text">
        {{ skipLabel }}
      </span>
      <span class="the-arrow -right">
        <span class="shaft"></span>
      </span>
    </span>
  </a>
</div>
