<div class="dsc-carousel"  [ngStyle]="{'min-height': finalHeight}">
    <div class="dsc-carousel__content" >
            <div #containerEvents *ngFor="let section of items;" class="dsc-carousel__content-item" [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%' }">
            </div>
    </div>
    <div class="dsc-carousel__container">
        </div>
    <div #stepsEvents class="dsc-carousel__steps">
            <div #timelineEvents
                        *ngFor="let item of items; let index = index" (click)="setCurrentPosition(item.id)"   
                        class="dsc-carousel__steps-step 
                        dsc-carousel__steps-step-{{currentPosition === item.id ? 
                            'active': index < currentPosition ? 'older-event' : '' }}">
                            <span>{{item.title}}</span>          
            </div>
            
                <span class="dsc-carousel__filling-line" aria-hidden="true" #fillingLine></span>
    </div>
</div>