<app-navbar-logo></app-navbar-logo>

<app-welcome
  *ngIf="steps[4]"
  [initialAnimation]="!initialised"
  (clickStart)="toggleVideo($event)"
  (clickNext)="nextStep()"
></app-welcome>

<app-welcome-video
  *ngIf="steps[1]"
  (clickSkip)="nextStep()"
></app-welcome-video>

<app-chronology
  *ngIf="steps[2]"
  [initialAnimation]="!initialised2"
  (clickPrevious)="previousStep()"
  (clickNext)="nextStep()"
></app-chronology>

<app-future
  *ngIf="steps[3]"
  (clickPrevious)="previousStep()"
  (clickNext)="nextStep()"
></app-future>

<app-kombi 
  *ngIf="steps[0]" 
  (clickPrevious)="previousStep()"
></app-kombi>
