<div class="welcome-container">
  <div class="center-align">
    <div id="welcome-animation" class="animate__animated animate__fast">
      <h1 class="welcome-title">SEAT have changed history. Again.</h1>
      <h2 class="welcome-subtitle">
        Ready for a time travel inside SEAT's most iconic cars?<br>Enjoy a looking
        back to understand how past will anticipate the future.
      </h2>
      <button
        (click)="onClickNext()"
        class="seat-button animate__animated animate__fast animate__flipInX animate__delay-1s"
      >
        Start
      </button>
    </div>
  </div>
</div>
