.chronology-container {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  .chronology-title {
    font-size: 4rem;
    font-weight: bold;
    font-family: SeatBcn-Black;
  }
  .chronology-subtitle {
    font-size: 2em;
    margin-top: 2rem;
    font-family: SeatBcn-Light;
    line-height: 3.5rem;
  }
}
