<div class="chronology-container">
  <div class="center-align">
    <div id="chronology-animation" class="animate__animated animate__fast">
      <h1 class="chronology-title">CRHONOLOGY PLACEHOLDER</h1>
      <button
        (click)="onClickPrevious()"
        class="seat-button animate__animated animate__fast animate__flipInX animate__delay-1s"
      >
        Back
      </button>
      <button
        style="margin-left: 2rem"
        (click)="onClickNext()"
        class="seat-button animate__animated animate__fast animate__flipInX animate__delay-1s"
      >
        Next
      </button>
    </div>
  </div>
</div>
