<div class="chronology-container">
  <div class="center">
    <div id="chronology-animation" class="animate__animated animate__fast">
      <h1 class="chronology-title">CRHONOLOGY SECTION</h1>
      <button (click)="onClickPrevious()"
        class="chronology-button chronology-hover animate__animated animate__fast animate__flipInX animate__delay-1s">Back</button>
      <button style="margin-left: 2rem;" (click)="onClickNext()"
        class="chronology-button chronology-hover animate__animated animate__fast animate__flipInX animate__delay-1s">Next</button>
    </div>
  </div>
</div>