$ripple-color: #0bcff2;
.kombi-container {
  .button-test {
    margin: 1rem 2rem;
    font-size: 2rem;
    color: white;
    font-family: SeatBcn-Bold;
    background-color: transparent;
    border: none;
    outline: none;
    &:active,
    &:enabled {
      background-color: orangered;
    }
  }
  .kombi-background {
    background-color: black;
  }
  .kombi-section,
  .kombi-background {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
  }
  .kombi-section {
    bottom: 0;
    width: 100%;
    img {
      width: 100%;
      bottom: 0%;
      position: absolute;
    }
  }
  .kombi-interactives {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 15%;
    .kombi-link {
      border-radius: 50%;
      background-color: transparent;
      border: none;
      outline: none;
      transition: all 0.2s;
      text-decoration: none;
      &:hover {
        transform: scale(1.15);
      }
    }
    .ripple-container {
      display: flex;
      text-align: center;
      border-radius: 50%;
      animation: ripple 2s linear infinite;
    }
    @keyframes ripple {
      0% {
        box-shadow: 0 0 0 0 rgba($ripple-color, 0.3),
          0 0 0 0.5em rgba($ripple-color, 0.3),
          0 0 0 1.5em rgba($ripple-color, 0.3),
          0 0 0 2.5em rgba($ripple-color, 0.3);
      }
      100% {
        box-shadow: 0 0 0 0.5em rgba($ripple-color, 0.3),
          0 0 0 1.5em rgba($ripple-color, 0.3),
          0 0 0 2.5em rgba($ripple-color, 0.3), 0 0 0 4em rgba($ripple-color, 0);
      }
    }
  }
}
.opacity_off {
  opacity: 0;
}
.opacity_on {
  opacity: 1;
}
.kombi-button {
  font-size: 1.5rem;
  color: white;
  padding: 1rem 2.5rem;
  margin-top: 3rem;
  background-color: orange;
  font-family: SeatBcn-Black;
  outline: none;
  border: none;
  z-index: 10;
}
